@model List<Order>

@{ 
    ViewData["Title"] = "All orders";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>List of all your orders</h4>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Items</th>
                    <th>Total</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>User</th>
                    }
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                <tr>
                    <td class="align-middle">@order.Id</td>
                    <td class="align-middle">
                        <ul style="list-style-type:none">
                            @foreach (var item in order.OrderItems)
                            {
                                <li>
                                    <div class="alert alert-info" role="alert">
                                        <span class="badge bg-success">@item.Amount</span> [@item.Price.ToString("c")] - @item.Book.Name
                                    </div>
                                </li>
                            }
                        </ul>
                    </td>
                    <td class="align-middle">
                        @order.OrderItems.Select(b => b.Book.Price * b.Amount).Sum().ToString("c")
                    </td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <td class="align-middle"> @order.User.FullName </td>

                        <td class="align-middle">
                            <a class="btn btn-outline-primary" asp-controller="Orders" asp-action="ShoppingCart">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                        </td>
                        <td class="align-middle">
                            <a onclick="@("window.location.href='" + Url.Action("DeleteOrder","Orders") + "'");" class="btn btn-danger text-white">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                        </td>
                    }
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div style="position: fixed; right: 25px; bottom: 25px;" class="text-white">
    <a asp-controller="Orders" asp-action="ShoppingCart" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> Add New
    </a>
</div>